*.userprefs

/Terradue.Metadata.EarthObservation/Terradue.Metadata.EarthObservation.userprefs

/Terradue.Metadata.EarthObservation/bin

/Terradue.Metadata.EarthObservation/obj/

/packages/
Terradue.Metadata.EarthObservation.Test/obj
Terradue.Metadata.EarthObservation.Tests/obj/Debug/Terradue.Metadata.EarthObservation.Tests.dll.mdb
Terradue.Metadata.EarthObservation.Tests/obj/Debug/Terradue.Metadata.EarthObservation.Tests.dll
Terradue.Metadata.EarthObservation.Tests/bin/Terradue.Metadata.EarthObservation.Tests.dll.mdb
Terradue.Metadata.EarthObservation.Tests/bin/Terradue.Metadata.EarthObservation.Tests.dll
Terradue.Metadata.EarthObservation.Tests/bin/Terradue.Metadata.EarthObservation.dll.mdb
Terradue.Metadata.EarthObservation.Tests/bin/Terradue.Metadata.EarthObservation.dll
