*.userprefs

/Terradue.Metadata.EarthObservation/Terradue.Metadata.EarthObservation.userprefs

/Terradue.Metadata.EarthObservation/bin/

/Terradue.Metadata.EarthObservation/obj/

/packages/
Terradue.Metadata.EarthObservation.Tests/obj/
Terradue.Metadata.EarthObservation.Tests/bin/
/Terradue.Metadata.EarthObservation.nuspec
/build
/Terradue.Metadata.EarthObservation.Tests/out/S1EOPwbrowse.atom
/Terradue.Metadata.EarthObservation.Tests/out/S1EOP.atom
/Terradue.Metadata.EarthObservation.Tests/out/S1EOP.xml
.idea